@charset "utf-8";
@import "mymr-fonts.css";
@import "mymr-lists.css";

/*
 * Myanmar overrides
 *
 * ordered lists use numeric markers.
 * To use alphabtic markers, use
 * <ol class="alpha">git push origin
 * 
 *
 */


/*
 * anchor styling 
 *
 */

a, a:active, a:link, a:visited {}
a:hover {}

/*
 * Default list rules
 */

ul {
    list-style: dash;
}

ol {
    list-style: myanmar-parens;
}

ol:lang(shn), ol:lang(kht) {
	list-style: shan-parens;
}

ol:lang(en) {
    list-style: decimal;
}

ul:lang(en) {
    list-style: disc;
}

ol.alpha:lang(my) {
    list-style: burmese-consonant;
}

ol.alpha:lang(my) ol.alpha:lang(my) { 
    list-style: burmese-consonant-double;
}

ol.alpha:lang(mnw) {
    list-style: mon-consonant;
}

ol.alpha:lang(shn) {
    list-style: shan-consonant;
}



/*
 * Italic style overrides
 *
 */

em, i {
    font-style: normal;
    text-decoration: underline;
    /* text-underline-position */
}

em:lang(en), i:lang(en) {
    font-style: italic;
    text-decoration: none;
}

cite, var, address, dfn {}

/*
 *
 *
 *

-webkit-font-feature-settings: ;
-ms-font-feature-settings: "locl";
font-feature-settings: "locl";
 
@charset
@counter-style
@font-face
@supports
@import



unicode-range
text-underline-position
font-language-override
font-feature-settings
font-size-adjust
text-decoration




:lang()
:dir()

*/



